.contentPage{
    border-width: 1px;
    margin: 5px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
}
.header{
    justify-self: center;
    margin: 10px;
}
.description{
    padding: 10px;
    justify-self: center;
    align-content: center;
    border-radius: 3px;
    border-width: 3px;
    border-radius: 5px;
    width: 100%;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
     background:
    linear-gradient(#fff, #cde4ffd7) padding-box,
    linear-gradient(to right, rgb(208, 231, 241), blue) border-box;
  background-clip: padding-box, border-box;
}

.body{
    margin: 10px;
}

.githubLink{
    background-color: rgba(148, 188, 214, 0.753);
    border-radius: 4px;
    transform: 0.2s;
    margin: 5px;
    padding: 3px;
}
.simulations{
    border-top-width: 1px;
    margin-top: 10px;
     border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
}

.list{
    display: grid;
    grid-template-columns: auto auto;
}
.element{
    border-width: 1px;
     border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466);
    justify-self: center;
    align-content: center;
    transition: 0.2s;

}
.element:hover{
    transform: translateY(-2px);
     background-color: #9fbce2;
    transition: color 0.3s ease-in-out;
    transition: 0.5s;
}

.image{
    align-self: center;
    justify-self: center;
    border-radius: 4px;
    width: 500px;
    height: 300px;
    margin: 5px;
}
.elementDescription{
    justify-self: center;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #3a4ed5;
     background:
    linear-gradient(#fff, #cde4ffd7) padding-box,
    linear-gradient(to right, rgb(208, 231, 241), blue) border-box;
  background-clip: padding-box, border-box;
}

.subCategories{
       font-size: 200%;
}
.standardImageElement{
    width: 550px;
}

#Printer3D{
    width: 280px;
}
#coffieMaker{
    width: 550px; 
    height: 140px;
}

#PizzaService{
    width: 200px; 
    height:200px;
}